* {
  box-sizing:border-box;
}
h1 {
  font-family:'Code-Pro-Light-Demo';
  font-size: 5em;
  text-align: center;
  font-weight:normal;
}
#main-nav {
  width:60%;
  margin:0 auto;
  height:44px;
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
}
.nav-item {
  position:relative;
  float:left;
  width:25%;
  text-align: center;
  text-transform: uppercase;
  line-height: 42px;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  cursor:pointer;
  font-size:1.2em;
  letter-spacing: .1em;
}
.nav-item:hover {
  color:#EC0000;
}
.nav-item.is-selected {
  color:#EC0000;
  font-weight:500;
  border-top: 2px #EC0000 solid;
  border-bottom: 2px #EC0000 solid;
  top:-2px;
}